<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LibraryManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>LoginServletFilter</filter-name>
    <filter-class>com.filter.LoginServletFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginServletFilter</filter-name>
    <url-pattern>/LoginServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>com.controller.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>SignupServletFilter</filter-name>
    <filter-class>com.filter.SignupServletFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SignupServletFilter</filter-name>
    <url-pattern>/SignupServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>BookAdditionServlet</display-name>
    <servlet-name>BookAdditionServlet</servlet-name>
    <servlet-class>com.controller.BookAdditionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookAdditionServlet</servlet-name>
    <url-pattern>/BookAdditionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.controller.AdminLoginServlet</servlet-class>
    <init-param>
      <param-name>username</param-name>
      <param-value>admin</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>admin</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IssueServlet</display-name>
    <servlet-name>IssueServlet</servlet-name>
    <servlet-class>com.controller.IssueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssueServlet</servlet-name>
    <url-pattern>/IssueServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionLogoutServlet</display-name>
    <servlet-name>SessionLogoutServlet</servlet-name>
    <servlet-class>com.controller.SessionLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionLogoutServlet</servlet-name>
    <url-pattern>/SessionLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RevokeServlet</display-name>
    <servlet-name>RevokeServlet</servlet-name>
    <servlet-class>com.controller.RevokeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RevokeServlet</servlet-name>
    <url-pattern>/RevokeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IncreaseBookServlet</display-name>
    <servlet-name>IncreaseBookServlet</servlet-name>
    <servlet-class>com.controller.IncreaseBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncreaseBookServlet</servlet-name>
    <url-pattern>/IncreaseBookServlet</url-pattern>
  </servlet-mapping>
</web-app>